p, dt, dd, dl
{font-family:calibri;
text-color:black;
text-align:left;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
blockquote
{font-family:calibri;
text-color:black;
text-align:left;
margin-left:auto;
margin-right:auto;
padding-left: 40 px;
width:650px;
background-color:#ffffff;
}
pre
{font-family:courier;
text-color:black;
text-align:left;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}

h1, h2, h3, h4
{font-family:calibri;
text-color:black;
text-align:left;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
p
{font-family:calibri;
text-color:black;
text-align:left;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
table
{font-family:calibri;
margin-left:auto;
margin-right:auto;
text-align:left;
width:700px;
background-color:#ffffff;
border-width: 1px;
}
hr
 { 	width:700px;
	
}
ol
{font-family:calibri;
text-color:black;
text-align:left;
text-indent:inherit;
list-style-position:inside;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
li
{font-family:calibri;
text-color:black;
text-align:left;
text-indent:inherit;
list-style-position:inside;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
ul
{font-family:calibri;
text-color:black;
text-align:left;
text-indent:inherit;
list-style-position:inside;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
ol
{font-family:calibri;
text-color:black;
text-align:left;
text-indent:inherit;
list-style-position:inside;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}
form
{font-family:calibri;
text-color:black;
text-align:left;
text-indent:inherit;
list-style-position:inside;
margin-left:auto;
margin-right:auto;
width:700px;
background-color:#ffffff;
}

ul ul 
width:auto

td ul li
{
	width:auto
}

td p
{
	width:auto
}

table ul li
{
	width:auto
}

table p
{
	width:auto
}